.smart-table {
    font-size: 16px;
    width: 100%;
    margin-bottom: 140px;

    th {
        cursor: pointer;
    }

    td {
        vertical-align: middle;
    }

    .field-value {
        color: #495057;
    }
}